<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación</title>
<style>
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.content{
    width: 100%;
}
.content .textBox h2{
    color: #333;
    font-size: 2em;

}
.content .textBox p{
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}
.content .textBox h2 span{
    color: #013271;
    font-size: 1em;
}
.content .imgBox{
    width:600px;
    padding-right: 50px;
    margin-top: 10px;
}
.content .imgBox img{
    width: 500px;
    height: 330px;
}
</style>
</head>
<body>
    <section>
        <div class="content">
            <div class="textBox">
                <h2>BIENVENIDO A <span>TURISMO REAL</span></h2>
                <p>Empresa familiar dedicada al arriendo de departamentos con 10 años en el mercado.</p>
            </div>

            <div class="imgBox">
                <img src="https://imgclasificados3.emol.com/Proyectos/imagenes//PR_FOTO_4410_1.jpg" class="main">
            </div>
        </div>
    </section>

</body>
</html> 
