<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jejeje</title>
</head>
<body>
    <h1>T-T</h1>
    <p style="color: #C205E8">{{ mail }}</p>
    <a href="https://www.instagram.com/x4leqxinn/">
        <img style="margin: auto;"width="500px" height="500px" src="https://image.myanimelist.net/ui/_3fYL8i6Q-n-155t3dn_4jVzMxW5LECK4IAS4dXEaEVFBYZDBe48W9oFemtZz0DT" alt="">
    </a>
    <p>Este mensaje ha sido autogenerado por <span style="color: purple;">Django!</span></p>
    <a href="https://www.instagram.com/x4leqxinn/">@x4leqxinn</a>
</body>
</html> 