<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Electrónico</title>
</head>
<body style="background-image: url(https://64.media.tumblr.com/fbec6c95b3d5eb102d0d433932d1f58a/bfe704e250ec475a-fa/s1280x1920/77e780fdaa063aee7109b69f6decf8026246227a.jpg); background-size:cover;">
    <h2 style="color: red;">Enviar Correo</h2>
    <form action="#" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Correo Electrónico" name="txtMail">
        <input type="submit" value="Enviar">
    </form>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7k8jldE3Oumpgdovz8snNv?utm_source=generator&theme=0" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</body>
</html> 